# Directories.
datasets/__pycache__/
deployment/__pycache__/
nets/__pycache__/
preprocessing/__pycache__/

.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

*.sublime-workspace
*.sublime-project

checkpoints/ssd_300_vgg.ckpt.data-00000-of-00001
checkpoints/ssd_300_vgg.ckpt.index

logs/
*.log
